[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
pusher = "*"
python-dotenv = "*"
dj-rest-auth = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
django-webpush = "*"
django-apscheduler = "*"
mysqlclient = "*"
django-imagekit = "*"
django-pwa = "*"

[dev-packages]

[requires]
python_version = "3.7"
