{% extends 'base.html' %}{% load static %}{% load pwa %} 

{% block css %}
{% progressive_web_app_meta %}
<link rel="stylesheet" type="text/css" href="{% static 'my_page.css' %}">
{% endblock %}
{% block content %}
     <div class="titleWrapper">
      <p style="font-size:1.5rem; ">마이페이지</p>
      <label for="menu" class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
      </label>  
    </div>
    <div class="menuContainer">
      <input type="checkbox" id="menu">
      <nav id="menuNav">
        <li><a href="{% url 'registrations:logout' %}">로그아웃</a></li>
        <li><a href="{% url 'registrations:change_password' %}">비밀번호 변경</a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="https://open.kakao.com/o/s9HWQTpd">서비스 문의/피드백</a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="https://ykring.notion.site/ykring/8-030bf6f3750243b2b7e1becb7c0b0a50">연고링 서비스 안내</a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="https://ykring.notion.site/d9aaf675a78d4cfe935a5c218f99d56a">서비스 이용약관</a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="https://ykring.notion.site/3e353b25e1ec48f38cff74970548c97f">개인정보 처리 방침</a></li>
      
      </nav>
    </div>

     <a href="{% url 'yk:my_profile' %}" class="editProfileWrapper">
        <div class="editProfile">
          나의 프로필 수정하기</div>
          <i class="fas fa-arrow-circle-right"></i>
      </a>

    <div style="margin-left: 8%;">
      <p class="friendTitle" >친구신청</p>
      {% if friend_requests %}
      <div class="RequestInfo">
        <p>친구신청이 왔어요 :) 친구가 되시면 쪽지탭에서 쪽지를 진행할 수 있어요!<br>친구가 된 후, 쪽지를 통해 친구와 더욱 친해져 볼까요?</p>
      </div>
      {% for friend_request in friend_requests %}
      <div class="friendRequestContainer">
        <div style="display: flex; flex-direction: row; align-items: center;">
          <div class="profileImgWrapper">
            <img src="{{ friend_request.requestor.profile.all.first.profile_image.url }}" alt="profile" />
          </div>
          <a href="{% url 'yk:friend_profile' friend_request.requestor.pk %}"><p class="requestedName">{{ friend_request.requestor.profile.all.first.nickname }}</p></a>
        </div>
        
        <form method="POST">
        {% csrf_token %}
          <input hidden name="user_pk" value="{{ friend_request.requestor.pk }}">
          <button type="submit" id="friend">친구수락</button>
          </form>
        <form method="POST" action="{% url 'friend_nono' %}">
        {% csrf_token %}
          <input hidden name="user_pk" value="{{ friend_request.requestor.pk }}">
          <button type="submit" id="friend">친구거절</button>
          </form>
        
      </div>
      {% endfor %}
      {% else %}
      <div>
        <p class="noRequest">
          친구신청이 없어요 :(<br>
          7분 통화 후 마음에 드는 친구에게<br>
          친구신청을 해보세요!
        </p>
      </div>
      {% endif %}
        
        <p class="friendTitle">나의 친구</p>
        {% for friend in final_list %}
        <div class="friendRequestContainer">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <a href="{% url 'yk:friend_profile' friend.pk %}"><div class="profileImgWrapper">
              <img src="{{ friend.profile.all.first.profile_image.url }}" alt="profile" width="100px" />
            </div></a>
            <a href="{% url 'yk:friend_profile' friend.pk %}"><p class="requestedName">{{ friend.profile.all.first.nickname }}</p></a>
          </div>
          <a href="{% url 'yk:letter_write' friend.pk %}"><button id="friend">쪽지하기</button></a>
        </div>
        {% endfor %}
    </div>
    <script>
          const menuTrigger = document.querySelector('.menu-trigger');
    menuTrigger.addEventListener('click', (event) => {
      event.currentTarget.classList.toggle('active-1');
    });
    </script>

{% endblock %}