.footer {
    display: none;
}
.container {
    position: relative;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
  }
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px 0 10px;

}
#back {
    display: flex;
    font-size: 1.125rem;
    position: relative;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#back:hover {
    background-color: #25D482;
    color: white;
}

.info_modal {
    display: none;
    width: 80%;
    height: 120px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#ffffff;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
}
.info_modal p {
font-size: 1rem;
line-height: 150%;
letter-spacing: -0.005em;
color: #12121D;

}
/* .info_modal a {
display: flex;
font-weight: 500;
font-size: 1.125rem;
text-align: center;
margin: 0 auto;
cursor: pointer;
width: 90%;
height: 60px;
justify-content: center;
align-items: center;
border-radius: 8px;
border-style: none;
background-color: #25D482;
flex-direction: row;
color: white;
box-shadow: 0.6rem 0.6rem 1.25rem rgba(174, 174, 192, 0.2);
margin-bottom: 10px;
}
.info_modal a:hover {
background-color: white;
border: 1px solid #25D482;
color: #25D482;
}*/
.header { 
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#header_title {
    display: flex;

    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 1.75rem;
    font-weight: 700;
}

#place {
    display: flex;
    align-items: center;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 0.75rem;
    font-weight: 400;
    color: #A7B0C0;
}

.profile_img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 36px;
}

.profile_img_container>label {
    background-color: transparent;
    border: none;
}

.profile_img_wrapper {
    display: flex;
    width: 125px;
    height: 125px;
    overflow: hidden;
    justify-content: space-around;
}

.button>label {
    display: flex;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 0.875rem;
    font-weight: 700;
    color: #25D482;
    margin-top: 10px;
    letter-spacing: -0.05px;
    cursor: pointer;
}

.profileImage-text2 {
    font-size: 0.625rem;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo';
    color: #A7B0C0;
}

/* .input_school {
    width: 84%;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px #e1e3e6;
    background-color: #ffffff;
    cursor: pointer;
    color: #4f5052;
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

/* #hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 12px;
} */

/* .fa-check-circle {
    font-size: 24px;
    color: #49B6FF;
    cursor: pointer;

} */


.wrapper {
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

}

.address_wrapper {
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

}
.input{
    width: 84%;
    height: 40px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #e1e3e6;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #4f5052;
}
.input_name {
    padding: 0 0 0 5px;
    width: calc(84% - 5px);
}
.input_age {
    padding: 0 0 0 5px;
    width: calc(84% - 5px);
}

/* .select input[type=radio] {
    display: none;
}

.select input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border-radius: 16px;
    border: 1px solid #49B6FF;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
} */

/* .select input[type=radio]+label {
    background-color: #fff;
    color: #49B6FF;
}

.select input[type=radio]:checked+label {
    background-color: #49B6FF;
    color: #fff;
} */

#intro_info {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 6%;
    font-family: 'Spoqa Han Sans Neo';
    color: #25D482;
    margin-bottom: 12px;
}

.intro_urself {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.introduce {
    background: #F8FAFD;
    font-family: 'Spoqa Han Sans Neo';
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
    width: 84%;
    min-height: 100px;
    font-size: 0.75rem;
    padding:0;
    margin-bottom: 12px;
    line-height: 15px;
}

#page {
    display: block;
    text-align: right;
    color: #A7B0C0;
    font-size: 14px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin-right: 30px;
    margin-bottom: 45px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    width: 84%;
    height: 58px;
    border: none;
    font-weight: 700;
    font-size:1.125rem;
    background: #25D482;
    border-radius: 8px;
    cursor: pointer;
    color: #EEEEEE;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#submit:hover {
    background: #167a4c;
}

#yb {
    height: 100px;
}



.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #A7B0C0 ;
    width: 60%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#fileName {
    margin-left: 5px;
    font-size: 13px;
}
/* 
.submitButton {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

    background-color: #18A0FB;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #A7B0C0;
} */

.image-show {
    z-index: -1;
    display: flex;
    align-items: center;
    position: absolute;
    top: 130px;
    overflow: hidden;
    justify-content: center;
}