{% extends 'base.html' %}{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="top-navbar">
    <div id="back">
        <a href="{% url 'ykboard:home' %}"><i style="font-size:1rem;" class="fas fa-arrow-left"></i></a>
    </div>
    <p style="margin-left:8%;font-weight: 700; font-size: 1.2rem; line-height: 123%; display: flex; align-items: center; letter-spacing: -0.005em; color: #12121D;">내가 쓴 글</p>
    <div></div>
</div>
<div class="postContainer">
    {% for post in posts %}
    <div class="content_wrap" onclick="location.href=`{% url 'ykboard:detail' post.pk %}`">
        <div class="post_content">{{post.content}}</div>
        <div class="postInfo">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="time" style="color:#ACB3BF; display: none; font-size:0.7rem;">{{post.create_at}}</div>
                <span style="color:#ACB3BF; margin-left:6px; font-size:0.7rem;">익명(나)</span>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="like" style="font-size:0.75rem; color: #25D482; margin-right: 10px;"><i class="far fa-heart" style="color: #25D482; margin-right: 3px;"></i>{{post.likes.all|length}}</div>
                <div class="comment" style="font-size:0.75rem; color: #25D482"><i class="fas fa-comment" style="color: #25D482; margin-right: 3px;"></i> {{post.comments.all|length}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<script src="{% static 'timeAgo.js' %}"></script>
<script>
    function turnTime(){
        const timeDoms = document.querySelectorAll(".time")
        let timeDom;
        for(let i=0; i < timeDoms.length; i++){
            timeDom = timeDoms.item(i);
            TimeAgo(timeDom.innerText, timeDom)
        }
        
    }

    turnTime();
</script>


{% endblock %}